Repository wazuh/wazuh-documentation, pull requests merged in 2021-04, with the labels that each got.

#3629 Fix Securing API section typo
  source/user-manual/api/securing_api.rst
Labels: API, typo

#3649 Updated wpk repository URL in Sample configuration
  source/user-manual/reference/ossec-conf/agent-upgrade.rst
Labels: operations, ossec.conf

#3648 Add option to disable the max_request_per_minute API's parameter
  source/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-manager-class.rst
  source/user-manual/api/configuration.rst
  source/user-manual/api/securing_api.rst
Labels: API

#3673 minor typo fix
  source/user-manual/reference/internal-options.rst
Labels: operations, typo

#3637 Add RBAC migration documentation
  source/development/index.rst
  source/development/rbac-database-integrity.rst
  source/user-manual/api/rbac/how-it-works.rst
  source/user-manual/reference/tools/security_resources.rst
Labels: API

#3706 Add MITRE techniques endpoint to RBAC catalog
  source/user-manual/api/rbac/reference.rst
Labels: API

#3764 Editorial changes to [Wazuh server->Distributed] Unattended index section
  source/installation-guide/open-distro/distributed-deployment/unattended/index.rst
Labels: type: refactor

#3779 CurrentIG_Editorial review for Elasticsearch cluster index section
  source/installation-guide/open-distro/distributed-deployment/step-by-step-installation/elasticsearch-cluster/index.rst
Labels: type: refactor

#3780 CurrentIG_editorial review for the Wazuh cluster index section
  source/installation-guide/open-distro/distributed-deployment/step-by-step-installation/wazuh-cluster/index.rst
Labels: type: refactor

#3777 CurrentIG_ step-by-step installation index section reditorial rework based on feedback
  source/installation-guide/open-distro/distributed-deployment/step-by-step-installation/index.rst
Labels: type: refactor

#3776 CurrentIG_editorial review for the Wazuh server unattended installation
  source/_templates/installations/wazuh/common/configure_wazuh_master_node.rst
  source/_templates/installations/wazuh/common/configure_wazuh_worker_node.rst
  source/installation-guide/open-distro/distributed-deployment/unattended/unattended-wazuh-cluster-installation.rst
Labels: priority: high, type: refactor

#3768 Documentation changes for features added as part of epic wazuh 7749
  source/images/manual/vuln-detector/vuln-detector-workflow.png
  source/user-manual/capabilities/syscollector.rst
  source/user-manual/capabilities/vulnerability-detection/how_it_works.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: core/vuln detector, type: refactor
