Repository wazuh/wazuh-documentation, pull requests merged in 2021-03, with the labels that each got.

#3524 wazuh-logtest: add new command line parameter in help menu
  source/user-manual/reference/tools/wazuh-logtest.rst
Labels: core/logtest

#3536 Fix wazuh-reportd inaccurate information
  source/user-manual/reference/daemons/wazuh-reportd.rst
  source/user-manual/reference/ossec-conf/reports.rst
Labels: invalid, user manual

#3540 Updating vulnerability detector documentation with scan type details
  source/images/manual/vuln-detector/vuln-detector-workflow.png
  source/user-manual/capabilities/vulnerability-detection/how_it_works.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: core/vuln detector

#3542 Adding warning messages to properly set the notify time and the disconnection time
  source/user-manual/reference/ossec-conf/client.rst
  source/user-manual/reference/ossec-conf/global.rst
Labels: type: refactor

#3583 quick typo fix
  source/user-manual/ruleset/ruleset-xml-syntax/pcre2.rst
Labels: operations, typo

#3564 Add the capability to know which CVE’s affect an agent - Documentation changes
  source/images/manual/vuln-detector/vuln-detector-workflow.png
  source/user-manual/capabilities/vulnerability-detection/how_it_works.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: API, core/vuln detector, type: refactor

#3600 ignore_time property renamed to min_full_scan_interval
  source/deploying-with-ansible/reference.rst
  source/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-manager-class.rst
  source/learning-wazuh/vuln-detection.rst
  source/user-manual/capabilities/vulnerability-detection/how_it_works.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: core/vuln detector, type: refactor

#3581 Fix description of integrationd configuration options
  source/user-manual/reference/ossec-conf/integration.rst
  source/user-manual/ruleset/ruleset-xml-syntax/regex.rst
Labels: integrator, invalid, missing docs, ossec.conf

#3609 Implement mechanisms to force an agent reconnection with the manager - Documentation changes
  source/user-manual/api/rbac/reference.rst
  source/user-manual/reference/ossec-conf/client.rst
Labels: type: refactor
