Repository wazuh/wazuh-documentation, pull requests merged in 2022-07, with the labels that each got.

#5400 Support Ubuntu Jammy in Vulnerability Detector
  source/learning-wazuh/vuln-detection.rst
  source/proof-of-concept-guide/poc-vulnerability-detection.rst
  source/user-manual/capabilities/vulnerability-detection/compatibility-matrix.rst
  source/user-manual/capabilities/vulnerability-detection/offline-update.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: pending-core, core/vuln detector, type: feature

#5433 Add clarification of setting deprecated alert_new_files
  source/user-manual/reference/ossec-conf/syscheck.rst
Labels: user manual, core/fim

#5407 Backport merged files generation optimization to 4.3 - Documentation
  source/user-manual/reference/internal-options.rst
Labels: pending-core, core/remoted

#5419 Support Red Hat 9 in Vulnerability Detector
  source/learning-wazuh/vuln-detection.rst
  source/proof-of-concept-guide/poc-vulnerability-detection.rst
  source/user-manual/capabilities/vulnerability-detection/compatibility-matrix.rst
  source/user-manual/capabilities/vulnerability-detection/offline-update.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: pending-core, core/vuln detector, type: feature

#5480 Wazuh v4.3.6 documentation update
  source/_static/js/redirects.js
  source/_templates/installations/basic/elastic/common/install_wazuh_kibana_plugin.rst
  source/_templates/installations/basic/elastic/deb/install_elasticsearch.rst
  source/_templates/installations/basic/elastic/deb/install_filebeat.rst
  source/_templates/installations/basic/elastic/deb/install_kibana.rst
  source/_templates/installations/basic/elastic/yum/install_elasticsearch.rst
  source/_templates/installations/basic/elastic/yum/install_filebeat.rst
  source/_templates/installations/basic/elastic/yum/install_kibana.rst
  source/_templates/installations/basic/elastic/zypp/install_elasticsearch.rst
  source/_templates/installations/basic/elastic/zypp/install_filebeat.rst
  source/_templates/installations/basic/elastic/zypp/install_kibana.rst
  source/_templates/installations/basic/wazuh/common/check_wazuh_cluster.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s10_intel.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s10_sparc.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s11_intel.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s11_sparc.rst
  source/conf.py
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/index.rst
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-agent-class.rst
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-manager-class.rst
  source/deployment-options/elastic-stack/all-in-one-deployment/index.rst
  source/installation-guide/packages-list.rst
  source/learning-wazuh/vuln-detection.rst
  source/proof-of-concept-guide/poc-vulnerability-detection.rst
  source/release-notes/index-4x.rst
  source/release-notes/index.rst
  source/release-notes/release-4-3-6.rst
  source/upgrade-guide/compatibility-matrix/index.rst
  source/user-manual/capabilities/sec-config-assessment/how-to-configure.rst
  source/user-manual/capabilities/vulnerability-detection/compatibility-matrix.rst
  source/user-manual/capabilities/vulnerability-detection/offline-update.rst
  source/user-manual/reference/internal-options.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: Pending release

#5373 Office365 interval option note and error handling warning
  source/user-manual/reference/ossec-conf/office365-module.rst
Labels: ossec.conf, Pending Release 4.3.7
