Repository wazuh/wazuh-documentation, pull requests merged in 2022-06, with the labels that each got.

#5305 Wazuh 4.3.4 release notes and version update
  source/_static/js/redirects.js
  source/_templates/installations/basic/elastic/common/install_wazuh_kibana_plugin.rst
  source/_templates/installations/basic/elastic/deb/install_elasticsearch.rst
  source/_templates/installations/basic/elastic/deb/install_filebeat.rst
  source/_templates/installations/basic/elastic/deb/install_kibana.rst
  source/_templates/installations/basic/elastic/yum/install_elasticsearch.rst
  source/_templates/installations/basic/elastic/yum/install_filebeat.rst
  source/_templates/installations/basic/elastic/yum/install_kibana.rst
  source/_templates/installations/basic/elastic/zypp/install_elasticsearch.rst
  source/_templates/installations/basic/elastic/zypp/install_filebeat.rst
  source/_templates/installations/basic/elastic/zypp/install_kibana.rst
  source/_templates/installations/basic/wazuh/common/check_wazuh_cluster.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s10_intel.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s10_sparc.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s11_intel.rst
  source/_templates/installations/wazuh/solaris/install_wazuh_agent_s11_sparc.rst
  source/conf.py
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/index.rst
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-agent-class.rst
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-manager-class.rst
  source/deployment-options/elastic-stack/all-in-one-deployment/index.rst
  source/installation-guide/packages-list.rst
  source/installation-guide/wazuh-dashboard/installation-assistant.rst
  source/quickstart.rst
  source/release-notes/index-4x.rst
  source/release-notes/release-4-3-4.rst
  source/upgrade-guide/compatibility-matrix/index.rst
  source/user-manual/agents/remote-upgrading/install-custom-wpk.rst
Labels: Pending release 4.3.4

#5299 Github time_delay option improvement
  source/github/monitoring-github-activity.rst
  source/user-manual/reference/ossec-conf/github-module.rst
Labels: pending-core, documentation

#3923 Update documentation to include information about SUSE Linux support
  source/getting-started/use-cases/vulnerability-detection.rst
  source/learning-wazuh/vuln-detection.rst
  source/user-manual/capabilities/vulnerability-detection/compatibility-matrix.rst
  source/user-manual/capabilities/vulnerability-detection/how-it-works.rst
  source/user-manual/capabilities/vulnerability-detection/index.rst
  source/user-manual/capabilities/vulnerability-detection/offline-update.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: pending-core

#5357 Github interval option note and error handling warning
  source/user-manual/reference/ossec-conf/github-module.rst
Labels: ossec.conf, Pending release 4.3.5
