Repository wazuh/wazuh-documentation, pull requests merged in 2022-09, with the labels that each got.

#4461 Migrate Agent Key Polling to Authd module
  source/_static/js/redirects.js
  source/images/manual/key-polling/key-polling-0.png
  source/images/manual/key-polling/key-polling-1.png
  source/images/manual/key-polling/key-polling-flow.png
  source/images/manual/key-request/key-request-0.png
  source/images/manual/key-request/key-request-1.png
  source/images/manual/key-request/key-request-flow.png
  source/user-manual/agents/index.rst
  source/user-manual/agents/key-request.rst
  source/user-manual/capabilities/index.rst
  source/user-manual/reference/daemons/wazuh-modulesd.rst
  source/user-manual/reference/ossec-conf/auth.rst
  source/user-manual/reference/ossec-conf/wodle-agent-key-polling.rst
Labels: core/authd

#5559 Add documentation for the AWS Module for configuration
  source/amazon/services/prerequisites/considerations.rst
  source/amazon/services/prerequisites/credentials.rst
  source/amazon/services/prerequisites/dependencies.rst
Labels: aws

#5369 Improve CPE Helper with new update field
  source/images/manual/vuln-detector/msug-exchange-server.png
  source/images/manual/vuln-detector/msug-office-2016.png
  source/images/manual/vuln-detector/nvd-exchange-server.png
  source/images/manual/vuln-detector/nvd-office-2016.png
  source/user-manual/capabilities/vulnerability-detection/cpe-helper.rst
Labels: core/vuln detector, type: refactor

#5461 Add section to explain how the manager certificates are generated.
  source/user-manual/reference/daemons/wazuh-authd.rst
Labels: user manual, core/authd

#5577 Add Reparse section to GCP and Azure and modify the AWS one
  source/amazon/services/prerequisites/considerations.rst
  source/azure/activity-services/prerequisites/considerations.rst
  source/gcp/prerequisites/considerations.rst
Labels: aws, gcp, azure

#5588 Add permissions required for AWS ECR image scanning
  source/amazon/services/supported-services/ecr-image-scanning.rst
Labels: aws
