Repository wazuh/wazuh-documentation, pull requests merged in 2022-12, with the labels that each got.

#5812 Update Single sign-on on V4.4
  source/images/single-sign-on/okta/07-create-new-application.png
  source/images/single-sign-on/okta/09b-other-requestable-sso-urls.png
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
  source/user-manual/user-administration/single-sign-on/google.rst
  source/user-manual/user-administration/single-sign-on/jumpcloud.rst
  source/user-manual/user-administration/single-sign-on/okta.rst
  source/user-manual/user-administration/single-sign-on/onelogin.rst
  source/user-manual/user-administration/single-sign-on/pingone.rst
Labels: priority: high, SSO

#5819 Cloudtrail integration improvements
  source/user-manual/reference/ossec-conf/wodle-s3.rst
Labels: aws

#5824 azure-configuration-missing-steps
  source/azure/activity-services/active-directory/graph.rst
Labels: type: bug, azure

#5838 Update section Single sign-on for 4.3
  source/_static/js/redirects.js
  source/images/single-sign-on/keycloak/01-create-a-new-realm.png
  source/images/single-sign-on/keycloak/02-create-a-new-client.png
  source/images/single-sign-on/keycloak/03-configure-client-settings.png
  source/images/single-sign-on/keycloak/04-configure-client-settings.png
  source/images/single-sign-on/keycloak/05-configure-client-settings.png
  source/images/single-sign-on/keycloak/06-configure-client-settings.png
  source/images/single-sign-on/keycloak/07-client-signature-required.png
  source/images/single-sign-on/keycloak/08-fine-grain-saml-endpoint-configuration.png
  source/images/single-sign-on/keycloak/09-create-a-new-role.png
  source/images/single-sign-on/keycloak/10-create-a-new-user.png
  source/images/single-sign-on/keycloak/11-set-password.png
  source/images/single-sign-on/keycloak/12-create-a-new-group.png
  source/images/single-sign-on/keycloak/13-add-member.png
  source/images/single-sign-on/keycloak/14-assign-role.png
  source/images/single-sign-on/keycloak/15-configure-a-new-mapper.png
  source/images/single-sign-on/keycloak/16-select-role-list.png
  source/images/single-sign-on/keycloak/17-complete-the-add-mapper-section.png
  source/images/single-sign-on/keycloak/18-download-adapter-config.png
  source/images/single-sign-on/keycloak/19-the-exchange_key-parameter.png
  source/images/single-sign-on/okta/07-create-new-application.png
  source/images/single-sign-on/okta/09-saml-settings-section.png
  source/images/single-sign-on/okta/09b-saml-settings-section.png
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
  source/user-manual/user-administration/single-sign-on/google.rst
  source/user-manual/user-administration/single-sign-on/index.rst
  source/user-manual/user-administration/single-sign-on/jumpcloud.rst
  source/user-manual/user-administration/single-sign-on/keycloak.rst
  source/user-manual/user-administration/single-sign-on/okta.rst
  source/user-manual/user-administration/single-sign-on/onelogin.rst
  source/user-manual/user-administration/single-sign-on/pingone.rst
  source/user-manual/wazuh-dashboard/single-sign-on/okta.rst
Labels: priority: high, SSO

#5843 Update Single sign-on OpenSearch Version
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
  source/user-manual/user-administration/single-sign-on/google.rst
  source/user-manual/user-administration/single-sign-on/jumpcloud.rst
  source/user-manual/user-administration/single-sign-on/keycloak.rst
  source/user-manual/user-administration/single-sign-on/okta.rst
  source/user-manual/user-administration/single-sign-on/onelogin.rst
  source/user-manual/user-administration/single-sign-on/pingone.rst
Labels: priority: high, SSO

#5826 Allows agents to connect via a link-local IPv6 address
  source/user-manual/reference/ossec-conf/client.rst
  source/user-manual/reference/tools/agent-auth.rst
Labels: user manual

#5846 Adjust Wazuh 4.3.0 release notes
  source/release-notes/release-4-3-0.rst
Labels: release notes, priority: high

#5849 Adjust SSO 4.3 text formats
  source/images/single-sign-on/okta/09b-other-requestable-sso-urls.png
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
  source/user-manual/user-administration/single-sign-on/google.rst
  source/user-manual/user-administration/single-sign-on/jumpcloud.rst
  source/user-manual/user-administration/single-sign-on/keycloak.rst
  source/user-manual/user-administration/single-sign-on/okta.rst
  source/user-manual/user-administration/single-sign-on/onelogin.rst
  source/user-manual/user-administration/single-sign-on/pingone.rst
Labels: priority: high, SSO

#5850 Adjust SSO 4.4 text formats
  source/images/single-sign-on/okta/09b-saml-settings-section.png
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
  source/user-manual/user-administration/single-sign-on/google.rst
  source/user-manual/user-administration/single-sign-on/jumpcloud.rst
  source/user-manual/user-administration/single-sign-on/keycloak.rst
  source/user-manual/user-administration/single-sign-on/okta.rst
  source/user-manual/user-administration/single-sign-on/onelogin.rst
  source/user-manual/user-administration/single-sign-on/pingone.rst
Labels: priority: high, SSO
