Repository wazuh/wazuh-documentation, pull requests merged in 2023-01, with the labels that each got.

#5866 Add a symbolic link to the puppetserver binary
  source/deployment-options/deploying-with-puppet/setup-puppet/install-puppet-master.rst
Labels: puppet, type: bug, reporter/cicd

#5860 Update Wazuh's portal TCP port
  source/deployment-options/deploying-with-ansible/guide/install-indexer-dashboard.rst
  source/deployment-options/deploying-with-ansible/guide/install-wazuh-manager.rst
  source/deployment-options/deploying-with-ansible/reference.rst
Labels: Deployment guide, Documentation improvements

#5862 Add TCP ports warning with Ansible deployment
  source/deployment-options/deploying-with-ansible/installation-guide.rst
Labels: Deployment guide, Documentation improvements

#5868 Update section Single sign-on for 4.3
  source/images/single-sign-on/azure-active-directory/13-go-to-the-metadata-url.png
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
  source/user-manual/user-administration/single-sign-on/pingone.rst
Labels: priority: high, SSO

#5870 Update section Single sign-on for 4.4
  source/images/single-sign-on/azure-active-directory/13-go-to-the-metadata-url.png
  source/user-manual/user-administration/single-sign-on/azure-active-directory.rst
Labels: priority: high, SSO

#5797 Update the Packages list tables location
  source/deployment-options/amazon-machine-images/amazon-machine-images.rst
  source/deployment-options/elastic-stack/index.rst
  source/deployment-options/splunk/index.rst
  source/deployment-options/virtual-machine/virtual-machine.rst
  source/installation-guide/packages-list.rst
  source/user-manual/capabilities/vulnerability-detection/offline-update.rst
Labels: priority: high, documentation

#5653 Add changes to add the new setting in SCA
  source/user-manual/capabilities/sec-config-assessment/creating-custom-policies.rst
Labels: core/sca

#4790 Modificated docu related to FIM after fimDB adapted to dbsync and rsync
  source/user-manual/capabilities/file-integrity/fim-configuration.rst
  source/user-manual/reference/ossec-conf/syscheck.rst
Labels: pending-core, core/fim

#5840 Wazuh 4.4.0 release notes and versions update
  source/_static/js/redirects.js
  source/images/release-notes/4.4.0/alpine-linux.png
  source/release-notes/index-4x.rst
  source/release-notes/index.rst
  source/release-notes/release-4-4-0.rst
Labels: release notes, priority: high

#5878 Wazuh 4.4.0 release notes changes
  source/release-notes/release-4-4-0.rst
Labels: release notes, priority: high

#5853 Add missing tabs to the documentation
  source/amazon/services/prerequisites/dependencies.rst
  source/azure/activity-services/prerequisites/dependencies.rst
  source/container-security/docker-monitor/dependencies.rst
  source/deployment-options/docker/docker-installation.rst
  source/gcp/prerequisites/dependencies.rst
  source/user-manual/agents/remote-upgrading/create-custom-wpk/generate-wpk-package-manually.rst
  source/user-manual/api/getting-started.rst
  source/user-manual/capabilities/policy-monitoring/ciscat/ciscat.rst
  source/user-manual/capabilities/policy-monitoring/openscap/how-it-works.rst
  source/user-manual/capabilities/system-calls-monitoring/audit-configuration.rst
  source/user-manual/manager/manual-database-output.rst
  source/user-manual/manager/manual-email-report/smtp-authentication.rst
Labels: priority: medium, Documentation improvements

#5893 Update compatibility matrix with Solaris info
  source/user-manual/capabilities/syscollector.rst
Labels: core/syscollector

#5891 Add new section: Configuring third-party SSL certificates
  source/_static/js/redirects.js
  source/images/configuring-third-party-certs/wazuh-dashboard.png
  source/user-manual/wazuh-dashboard/configuring-third-party-certs/index.rst
  source/user-manual/wazuh-dashboard/configuring-third-party-certs/ssl-nginx.rst
  source/user-manual/wazuh-dashboard/configuring-third-party-certs/ssl.rst
  source/user-manual/wazuh-dashboard/index.rst
Labels: user manual, priority: high
