Repository wazuh/wazuh-documentation, pull requests merged in 2023-07, with the labels that each got.

#5932 FIM wildcard Windows registers documentation
  source/user-manual/capabilities/file-integrity/windows-registry-monitoring.rst
  source/user-manual/reference/ossec-conf/syscheck.rst
Labels: pending-core, syscheck

#6247 Vulnerability Detector: NVD API 2.0
  source/compliance/nist/vulnerability-detection.rst
  source/compliance/tsc/common-criteria/cc7.1.rst
  source/deployment-options/deploying-with-ansible/reference.rst
  source/deployment-options/deploying-with-puppet/wazuh-puppet-module/reference-wazuh-puppet/wazuh-manager-class.rst
  source/nist/vulnerability-detection.rst
  source/proof-of-concept-guide/poc-vulnerability-detection.rst
  source/user-manual/capabilities/vulnerability-detection/configuring-scans.rst
  source/user-manual/capabilities/vulnerability-detection/offline-update.rst
  source/user-manual/reference/ossec-conf/vuln-detector.rst
Labels: core/vuln detector, type: refactor, level/task

#6084 Add snap package manager support to data provider (#15740)
  source/user-manual/capabilities/system-inventory/available-inventory-fields.rst
Labels: level/task, type/enhancement
