Repository wazuh/wazuh-documentation, pull requests merged in 2023-03, with the labels that each got.

#5948 Update the section Regulatory compliance
  source/gdpr/index.rst
  source/hipaa/index.rst
  source/pci-dss/index.rst
Labels: priority: high, Documentation improvements

#5953 Update section: Configuring third-party SSL certificates
  source/user-manual/wazuh-dashboard/configuring-third-party-certs/ssl-nginx.rst
Labels: user manual, priority: high

#5964 Update section: Configuring third-party SSL certificates N° 2
  source/user-manual/wazuh-dashboard/configuring-third-party-certs/ssl-nginx.rst
Labels: user manual, priority: high

#5965 Active response rework 4.4.0 image update
  source/images/manual/active-response/ar-alert-fired.png
  source/images/manual/active-response/ar-alert-fired2.png
  source/images/manual/active-response/ar-alert-fired3.png
  source/images/manual/active-response/hydra-attack-alert.png
  source/user-manual/capabilities/active-response/ar-use-cases/blocking-ssh-brute-force.rst
  source/user-manual/capabilities/active-response/ar-use-cases/disabling-user-account.rst
  source/user-manual/capabilities/active-response/ar-use-cases/restarting-wazuh-agent.rst
Labels: priority: high, type: refactor

#5945 Update 4.4.0 release notes V3
  source/release-notes/index-4x.rst
  source/release-notes/index.rst
  source/release-notes/release-4-4-0.rst
Labels: release notes, priority: high

#5984 Security Configuration Assessment 4.4.0 image update
  source/images/sca/dashboard-sca-tab.png
  source/images/sca/macos-sca-check-results.png
  source/images/sca/macos-sca-use-case.png
  source/images/sca/sca-additional-information.png
  source/images/sca/ubuntu-sca-check-results.png
  source/images/sca/ubuntu-sca-use-case.png
  source/images/sca/windows-sca-check-results.png
  source/images/sca/windows-sca-use-case.png
Labels: priority: high, images

#5988 [4.4] Wazuh v4.4.0 release
  source/conf.py
  source/release-notes/index-4x.rst
  source/release-notes/index.rst
  source/release-notes/release-4-4-0.rst
Labels: Pending release

#5993 Update 4.4.0 release notes V5
  source/release-notes/release-4-4-0.rst
Labels: release notes, priority: highest

#5987 [4.3] Wazuh v4.4.0 release - Update the `is_latest_release` variable
  source/conf.py
Labels: Pending release

#5999 Update 4.4.0 release notes V6
  source/release-notes/release-4-4-0.rst
Labels: release notes, priority: high

#5983 New section: Using Wazuh for NIST 800-53 compliance
  source/_static/js/redirects.js
  source/compliance.rst
  source/hipaa/visualization-and-dashboard.rst
  source/images/nist/add-a-filter.png
  source/images/nist/alert-of-rule-id-550.png
  source/images/nist/alert-triggered-by-rule-id-550.png
  source/images/nist/alerts-on-the-wazuh-dashboard.png
  source/images/nist/associated-techniques.png
  source/images/nist/check-syscheck-fieldsd.png
  source/images/nist/expand-alert.png
  source/images/nist/group-description.png
  source/images/nist/integrity-monitoring-tab.png
  source/images/nist/inventory-data.png
  source/images/nist/mitre-attack-module.png
  source/images/nist/modules-vulnerabilities.png
  source/images/nist/navigate-to-id-28593.png
  source/images/nist/open-remote-desktop.png
  source/images/nist/recent-events.png
  source/images/nist/rule-id-510-event.png
  source/images/nist/save-search.png
  source/images/nist/save-the-results.png
  source/images/nist/security-events-dashboard.png
  source/images/nist/select-cis-benchmark.png
  source/images/nist/select-discover.png
  source/images/nist/select-framework.png
  source/images/nist/select-groups.png
  source/images/nist/select-nist-800-53-moduleg.png
  source/images/nist/select-reporting.png
  source/images/nist/select-sca-module.png
  source/images/nist/select-the-controls-tab.png
  source/images/nist/select-the-endpoint.png
  source/images/nist/select-the-events-tab.png
  source/images/nist/t1112-modify-registry.png
  source/images/nist/the-full-log-field.png
  source/images/nist/users-alerts.png
  source/nist/active-response.rst
  source/nist/configuration-assessment.rst
  source/nist/file-integrity-monitoring.rst
  source/nist/index.rst
  source/nist/log-data-analysis.rst
  source/nist/malware-detection.rst
  source/nist/system-inventory.rst
  source/nist/threat-intelligence.rst
  source/nist/visualization-and-dashboard.rst
  source/nist/vulnerability-detection.rst
Labels: priority: high, Regulatory compliance

#6004 Malware detection 4.4.0 image update
  source/images/manual/malware/cdb-lists-malware-alerts.png
  source/images/manual/malware/malware-fim.png
  source/images/manual/malware/wazuh-yara-alerts-win.png
  source/images/manual/malware/wazuh-yara-alerts.png
Labels: priority: high, images

#6006 Update EPS limits protection documentation in the API configuration page
  source/user-manual/api/configuration.rst
Labels: Pending release
